<%- include('partials/header') %>
<main>
	<h1>Page Title</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor tempore numquam voluptas consequatur qui iusto ducimus natus, aperiam aliquam soluta, dignissimos eaque ullam et est. Possimus molestiae, iusto praesentium eius.</p>
</main>
<%- include('partials/footer') %>