/* 

	Breakpoint reference

	Extra small devices (portrait phones, less than 576px)
	No media query for `xs` since this is the default

	Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) { ... }

	Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { ... }

	Large devices (desktops, 992px and up)
	@media (min-width: 992px) { ... }

	Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { ... }

*/


/* ==========================================================================
   Global Styles
   ========================================================================== */


/* General/Utility
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125em; /* equals 18px if user's default font is 16px */
	background: rgba(73, 120, 222, 1);  /* fallback for old browsers */
	background: linear-gradient(rgba(73, 120, 222, 1), rgba(252, 126, 146, 1));
}